{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>&#127759;  &#128099;Ecology1&#127759;  &#128099;</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body id="top">

<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('{% static 'img/demo/backgrounds/4.jpg' %}');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1  style="color:Green"><a href="{% url 'index' %}  ">Exit</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a  style="color: Red" href="{% url 'index' %}">Main</a></li>
          <li><a  style="color: Yellow " href="{% url 'random' %}">Helpful information</a>
          <li><a  style="color: Blue" class="active" href="{% url 'many' %}">Some information</a>
          <li><a  style="color: Orange" href="https://github.com/Snowyman12/102.git">Github</a></li>
          <li><a  style="color: Purple" href="https://www.pravda.com.ua/tags/ekologija/" >Ecology News</a></li>
          <li><a  style="color: #30D5C8" href="https://earth.org/the-biggest-environmental-problems-of-our-lifetime/" >Ecology news world</a></li>
        </ul>
      </nav>
    </header>
  </div>
<div style="display:inline;text-align:center;align-content:center;" class="form-group">
   <h1 align="center" style="color:blue">Приветствую вас на сайте</h1> 
   <h1 align="center" style="color: #ff4500">Етот сайт создан с помощью django</h1>
   <h1 align="center" style="color:#ff1493">Создатели:Даценко Антон,Коваленко Володимир,Никита Зименко,Ивашкевич Дмитро</h1>
   <p><img  src="https://lh3.googleusercontent.com/proxy/GLipts40FINd1_K9nnwlV3xAsJCvp4AjXG_AmpA9TOrkD0PJpw_L-gji__c4VY06oTUPthQLpec4vdgE5Ebjn8DzHJmE0RFCSEp-7uqXfDsfj9hq40_OIzgnxqgGqUT2n7ztw5PXDL7Nlz9ooK0"></p>
</div>

  </audio> 
    <div id="quote_container" class="container text-center">
    {% block content %}
    {% endblock content %}
</div>


  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
  <script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>
  </body>
  </html>
</body>
</html>